.color-button{
    background: #0699A6;
    border-radius: 0px;
    width: 225px;
    height: 60px;
    margin-left: 125px;
}
.rectangle-potition{
    width: 350px;
    height: 350px;
    margin-top: 180px;
    margin-left: 165px;
}
.combined-shape{
    color: #9E8C6C;
    width: 152px;
    height: 152px;
    margin-left: 403px;
    margin-top: -110px;
}
.Designer-Developer{
    color: #9E8C6C;
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 180px;
    padding-left: 125px;
}
.matt-mcdonald{
    font-family: Playfair Display;
    font-size: 126px;
    padding-left: 125px;
    font-weight: 900;
    line-height: 112px;
    padding-top: 13px;
    letter-spacing: -2px
}
.background-color{
    background: #FEF4E1;
    width: 1440px;
    height: 747px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}
.left-visual{
    list-style-type: none;
    margin-left: -40px;
}
.skillset{
    color: #9E8C6C;
    font-size: 18px;
}