.header--background{
    text-align: center;
    background: white ;
    padding: 0px 50px
}
.price-list--padding{
    padding: 30px;
}
.header--color:hover {
    background: black;
    color: white;
    border: 1px solid pink;
}
.header--color{
    background: white;
    color: black;
    border: 3px solid yellow;
}
.price-list__card-body--padding{
    padding: 50px;
}
.price-list--padding-zero { 
    padding: 0px ;
}
.price-list--font-size{
    font-size: 35;
}
.price-list--background-color {
    background: white;
    color: #007bff;;
    border: 0px solid #007bff;
    width: 150px;}
.price-list--width{
    width: 150px;
}
.footer__image--width{
    width: 25px;
}
.footer--background-color{ 
    background: white;
}
.header--border-bottom{
    border-bottom: 1px solid #dee2e6 ;
}
